<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= headTitle %> </title>
  <link rel="stylesheet" href="css/error.css">
</head>

<div class="text-center"> 
    <main class="form-signin">
        <h1 class="signin-title text-center"><%= title %></h1>
        <a href="<%= location %>"><button class="w-100 btn btn-lg btn-index" name="submit" type="submit"><%= subtitle %></button></a>
    </main>
</div>